<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gievenbeck.paple">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="com.gievenbeck.paple.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_paple"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_paple"
        android:supportsRtl="true"
        android:versionCode="8"
        android:versionName="1.0.7"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.gievenbeck.paple.GuideActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.gievenbeck.paple.SignOutActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.gievenbeck.paple.SettingActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5118743253590971~3228826273" />
        <activity
            android:name="com.gievenbeck.paple.SplashCongratsActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name="com.gievenbeck.paple.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.gievenbeck.paple.ChatLogActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gievenbeck.paple.MainActivity" />

            <intent-filter>
                <action android:name="ChatLogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gievenbeck.paple.SplashActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gievenbeck.paple.OtpActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.gievenbeck.paple.SignInActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.gievenbeck.paple.InitialSetupActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name="com.gievenbeck.paple.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>